<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <h1>Facetracking For Artists</h1>
    <br>
    <div id="canvasContainer" class="canvasContainerClass">
    </div>
  <div>
</body>

</html>
