<title>Facetracking For Artists - Sandbox</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="/libs/brfv4/js/BRFv4DemoMinimalWebcam.js"></script>
<script type="text/javascript" src="/libs/p5/p5.min.js"></script>
<script type="text/javascript" src="/libs/p5/addons/p5.dom.min.js"></script>
<script type="text/javascript" src="/js/p5Facetracking.js"></script>

<link rel="stylesheet" type="text/css" href="/css/main.css" />
